/*==================== Seção Tags ====================*/
*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    position: relative;
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
   
}
h1, h2, h3{
    color: #4F709C;
    font-size: 6vh;
}
p{
    color: #253c5a;
    margin-top: 2%;
    font-size: 2.7vh;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
hr{
    border-style: none;
    border-top-style: dotted; 
    display: inline-block;
    width: 6vw;
    border-width: 3vh;
    border-color: #213555;
    margin-top: 2.8%;

}
/*==================== Seção Classes ====================*/


/*======== Menu ========*/

.menu-container{
    background-color: #F5EFE7;
    width: 100vw;
    height: 6vh;
    margin: 0%;
    z-index: 1;
    position: fixed;
    opacity: 60%;
}
.menu-home{
    margin-top: 0.1%;
    width: 2.8vw;
    position: absolute;
    right: 3%;
}

/*======== Header ========*/

.top-container{
    background-color: #D8C4B6;
    position: relative;
    height: 70vh;
    display: block;
    padding-top: 6%;
}
            /*======== Top-container Imgs ========*/
                .astronauta{
                
                    width: 20vw;
                    height: auto;
                    margin-top: 3%;
                }
                .nave1{
                    display: inline-block;
                    position: absolute;
                    width: 4vw;
                    height: auto;
                    top: 25%;
                    right: 28%;
                    transform: rotate(4deg);
                }
                .nave2{
                    display: inline-block;
                    position: absolute;
                    width: 4vw;
                    height: auto;
                    top: 75%;
                    left: 28%;
                    transform: rotate(-100deg);
                }

/*======== Main ========*/

.main-container{
    background-color: #F5EFE7;
    position: relative;
    height: 270vh;
    display: block;
}

.layout1{
    display: flex;
    position: absolute;
    background-color: #213555;
    width: 60vw;
    height: 40vh;
    border-radius: 7vh;
    top: 5%;
    justify-content: center;
    left: 2%;
}
        /*======== layout1 infos ========*/
            .layout1-img{
                position: absolute;
                margin-top: 4.5%;
                width: 15vw;
                left: 3%;
                border-color: #D8C4B6;
                border-style: groove ;
                border-radius: 30vh;
            }
            .layout1-h1{
                margin-left: 16%;
                color: #D8C4B6;
                margin-top: 3%;
                position: absolute;
                font-size: 3vw 3vh;

            }
            .layout1-p{
                margin-left: 16%;
                color: #ddd6cf;
                position: absolute;
                font-size: 3vw 3vh;
                margin-top: 10%;
                width: 30vw;
                height: 20vh;
            }
 .habilidades{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 50vw;
    height: 50vh;
    top: 23%;
 }           
        /*======== habilidades infos ========*/   
                .habilidades-hr{
                    
                   
                    position: absolute  ;
                    top: -23%;
                }
                .habilidades-img{
                    position: absolute;
                    width: 30vw;
                    top: 17%;
                }
                .habilidades-h2{
                    position: absolute;
                }
                .habilidades-li{
                    
                    
                    position: relative;
                    top: 40vw;
                    color: #4F709C;
                    font-size: 4vh;
                    margin-bottom: 1%;
    
                }

.layout2{
    display: flex;
    position: absolute;
    background-color: #213555;
    width: 60vw;
    height: 40vh;
    border-radius: 7vh;
    top: 66.9%;
    justify-content: center;
    right: 2%;
    transform: rotate(180deg);
}
        /*======== layout1 infos ========*/
            .layout2-img{
                position: absolute;
                margin-top: 4.5%;
                width: 15vw;
                left: 3%;
                border-color: #D8C4B6;
                transform: rotate(-180deg);
            }
            .layout2-h1{
                margin-left: 16%;
                color: #D8C4B6;
                margin-bottom: 3%;
                bottom: 0%;
                position: absolute;
                font-size: 3vw 3vh;
                transform: rotate(-180deg);
            }
            .layout2-p{
                margin-left: 16%;
                color: #ddd6cf;
                position: absolute;
                font-size: 3vw 3vh;
                margin-bottom: 10%;
                bottom: 0%;
                width: 30vw;
                height: 20vh;
                transform: rotate(-180deg);
            }
            .hr3{
                position: relative;
                top: 28%;
            }
.contato{
    width: auto;
    height: auto;
    position: relative;
    top: 46%;
}
.hr4{
    position: relative;
    top: -2vw;
}
.contato-butão{
    width: 10vw;
    height: 5vh;
    background-color: #ddd6cf;
    border-style: groove;
    border-color: #213555;
    border-width: 1px;
    border-radius: 10vw;
    margin-top: 2%;
    cursor: pointer;
    box-shadow: 7px 8px 5px rgba(97, 85, 62, 0.144);
}
/*======== Footer ========*/

.footer-container{
    background-color: #D8C4B6;
    position: relative;
    height: 30vh;
    margin-top: 0%;
    display: block;
}
.footer-link{
    margin-top: 0%;
}
.footer-link2, .footer-link3{
    margin-top: 2%;
}
.footer-img1, .footer-img2{
    width: 3vw;
    position: relative;
    margin-top: 4%;
    cursor: pointer;
}
.footer-img1{
    right: 0.5%;
}
.footer-img2{
    left: 0.5%;
}
/*==================== Seção Ids ====================*/


/*======== Menu ========*/


/*======== Header ========*/


/*======== Main ========*/


/*======== Footer ========*/

